#main-content ion-toolbar {
    --background: var(--morado-oscuro);
    
    .btn-menu {
        --color: white;
        --background: transparent;
    }
}

.menu-container {
    ion-header {
        box-shadow: none;
        -webkit-box-shadow: none;
        
        ion-toolbar {
            --background: var(--morado-claro);

            ion-title {
                --color: white;
                font-weight: bold;
            }
        }
    }

    ion-content {
        --background: var(--morado-claro);
        --color: white;

        ion-list, ion-item {
            background: var(--morado-claro);
            --background: var(--morado-claro);
        }
        ion-button {
            color: white;
        }
    }
}