<div class="header-componente">
  <ion-header class="header-page">
    <ion-toolbar>
      <ion-buttons >
        <ion-menu-button class="btn-menu" [menu]="menuId"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="div-back">
    <ion-buttons slot="end">
      <ion-buttons *ngIf="mostrarBoton">
        <ion-back-button class="button-back"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </div>
</div>

<ion-menu [menuId]="menuId" [contentId]="contentId" class="menu-container">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center custom-font">TeLlevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding custom-font">
    <div class="lista-opciones">
      <ion-list lines="none">
        <ion-item>
          <ion-label (click)="navegarA('/inicio')" class="custom-font">Inicio</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="custom-font">Ver perfil</ion-label>
        </ion-item>
        <ion-item>
          <ion-label (click)="navegarA('/progviajes')" class="custom-font">Programar viajes</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="custom-font">Ver viajes disponibles</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="cerrar">
      <ion-text (click)="cerrarSesion()" class="ion-padding">
        Cerrar sesión
      </ion-text>
    </div>
  </ion-content>
</ion-menu>