#main-content ion-toolbar {
    --background: var(--morado-oscuro);
    
    .btn-menu {
        --color: white;
        --background: transparent;
    }
}

.menu-container {
    ion-header {
        box-shadow: none;
        -webkit-box-shadow: none;
        
        ion-toolbar {
            --background: var(--morado-claro);

            ion-title {
                --color: white;
                font-weight: bold;
            }
        }
    }

    ion-content {
        --background: var(--morado-claro);

        .lista-opciones {
            ion-list, ion-item {
                color: white;
                font-weight: 600;
                background: var(--morado-claro);
                --background: var(--morado-claro);

                ion-label {
                    transition: all 0.15s;

                    &:active {
                        color: var(--morado-gris);
                    }
                }
            }
        }
        
        .cerrar {
            position: absolute;
            bottom: 5vh;
            ion-text {
                color: white;
                font-weight: 600;
                transition: all 0.1s;
    
                &:active {
                    color: var(--morado-gris);
                }
            }
        }
    }
}