<div class="bottom-opciones">
  <div class="opciones opcion-1">
    <ion-icon name="home-outline" class="t-morado-oscuro"></ion-icon>
    <ion-text class="custom-font t-morado-oscuro">Inicio</ion-text>
  </div>
  
  <div class="opciones opcion-2">
    <ion-icon name="map-outline" class="t-morado-oscuro"></ion-icon>
    <ion-text class="custom-font t-morado-oscuro">Ubicación</ion-text>
  </div>
  
  <div class="opciones opcion-3">
    <ion-icon name="person-outline" class="t-morado-oscuro"></ion-icon>
    <ion-text class="custom-font t-morado-oscuro">Perfil</ion-text>
  </div>
</div>