ion-content {
    --background: var(--morado-gris);

    .msg-container {
        margin-top: 30vh;
        
        .msg-error {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .error-titulo {
                color: var(--morado-oscuro);
                font-weight: bold;
                font-size: 3em;
                letter-spacing: 1vw;
            }
    
            .error-texto {
                margin: 0;
                font-size: 1.1em;
            }
        }
    }

    .msg-container-2 {
        
        .msg-error-2 {
            text-align: center;
            text-decoration: underline;
            color: var(--morado-oscuro);
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}
