<ion-content [fullscreen]="true">
  <!-- <ion-header class="header-page header-error">
    <ion-toolbar class="toolbar-above toolbar-error">
      <ion-buttons slot="start">
        <ion-back-button class="button-back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <div class="msg-container">
    <ion-text class="msg-error custom-font">
      <h1 class="error-titulo">404</h1>
      <p class="error-texto error-1">¡Oops... Lo sentimos!</p>
      <p class="error-texto error-2">Página no encontrada</p>
    </ion-text>
  </div>
</ion-content>
