/* header del recover */

ion-header ion-toolbar{
  --background: var(--morado-gris);
}

ion-content{
  --background: var(--morado-gris);
}

/* titulo de la pagina */

#container .titulo {
  margin-top: 8vh;
  margin-bottom: 17vh;
  text-align: center;
}
#container .titulo ion-text {
  color: var(--morado-oscuro);
  font-weight: 900;
  font-size: 1.7em;
}  
  
  /* formulario - dos contenedores: inputs y botones */
  #container .form-recover {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #container .form-recover .form-above,
  #container .form-recover .form-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin-top: 2vh;
  }
  
  #container .form-recover .form-below ion-text {
    margin-top: auto;
    padding: 2px;
    width: 80vw;
    text-align: left;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--morado-oscuro);
  }
  
  ion-label p{
    color: var(--morado-oscuro);
    opacity: 50%;
  }