<ion-content [fullscreen]="true">
  <ion-header class="header-page header-recover">
    <ion-toolbar class="toolbar-above toolbar-recover">
      <ion-buttons slot="start">
        <ion-back-button class="back-button"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- titulo de la pagina -->
    <div class="titulo">
      <ion-text class="custom-font">
        Restablecer
        contraseña
      </ion-text>
    </div>
    <!-- formulario de recuperación -->
    <div class="form-recover">
      <div class="form-below">
        <div class="instructions">
          <ion-text class="custom-font">
            Por favor, ingrese su nombre de usuario para restablecer la contraseña.
          </ion-text>
        </div>
      </div>
      <div class="form-above">
        <ion-input
          type="text"
          class="form-input custom-font" 
          label="Usuario" 
          labelPlacement="floating" 
          fill="outline" 
          shape="round" 
          placeholder="Ingrese su usuario"
          [(ngModel)]="user.username">
        </ion-input>
        <ion-label>
          <p opacity="50%" align="center" class="custom-font">{{mensaje}}</p>
        </ion-label>
      </div>
      <div class="form-below custom-font">
        <ion-button class="button-global" shape="round" strong="true" (click)="validar()" >
          Enviar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
