/* Estilos generales */

/* Headers */
.header-page {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* Fonts */
.custom-font {
    font-family: var(--custom-font) !important;
}

/* Inputs */
.form-input {
    width: 85vw;
    font-weight: 600;
    --color: var(--morado-oscuro);
    --border-width: 0.2em;
    --border-color: var(--morado-oscuro) !important;
    --placeholder-color: var(--morado-medio);
    --highlight-color: var(--morado-oscuro) !important;
}

/* Botones */
.button-global {
    --box-shadow: none;
    --background: var(--morado-claro);
    --ripple-color: var(--morado-oscuro);
}

.button-back {
    display: block; 
  --background: transparent; 
  --color: var(--morado-oscuro);
  --background-hover: transparent;
  /* &:active{
    --background: transparent;
  } */
}