/* Estilos generales */

/* Headers */
.header-page {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* Fonts */
.custom-font {
    font-family: var(--custom-font) !important;
}

/* Inputs */
.form-input {
    font-weight: 450;
    border: 0.2em solid var(--morado-oscuro);
    --color: var(--morado-oscuro);
    --placeholder-color: var(--morado-medio);
    --highlight-color: var(--morado-oscuro) !important;
}

/* Botones */
.button-global {
    --box-shadow: none;
    --background: var(--morado-claro);
    --ripple-color: var(--morado-oscuro);
}

.button-back {
    display: block; 
  --background: transparent; 
  --color: var(--morado-oscuro);
  --background-hover: transparent;
  /* &:active{
    --background: transparent;
  } */
}

/* Colores */
.t-morado-oscuro {
    color: var(--morado-oscuro);
}

.e-morado-oscuro {
    --background: var(--morado-oscuro);
}

.t-morado-medio {
    color: var(--morado-medio);
}

.e-morado-medio {
    --background: var(--morado-medio);
}

.t-morado-claro {
    color: var(--morado-claro);
}

.e-morado-claro {
    --background: var(--morado-claro);
}

.t-morado-gris {
    color: var(--morado-gris);
}

.e-morado-gris {
    --background: var(--morado-gris);
}

.t-verde {
    color: var(--verde);
}

.e-verde {
    --background: var(--verde);
}