.main-progviajes {

    .titulo ion-text h1 {
        font-weight: 900;
    }

    .card-progviajes {
        box-shadow: none;
        -webkit-box-shadow: none;

        ion-card-content ion-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            -webkit-box-shadow: none;
    
            .item-progviaje {
                width: 100%;
                margin-bottom: 1vh;
 
                ion-input {
                    min-height: 6vh;
                    --background: transparent;
                    --border-color: transparent;
                }
            }

            .direccion-progviaje {
                ion-grid, ion-col, ion-searchbar {
                    padding: 0;
                }
                
                ion-searchbar {
                    width: 100%;
                    min-height: 6vh;
                    border: 0.2em solid var(--morado-oscuro);
                    --placeholder-font-weight: 600;
                    --color: var(--morado-oscuro);
                    --icon-color: var(--morado-medio);
                    --placeholder-color: var(--morado-medio);
                }

                div ion-list ion-item {
                    color: var(--morado-oscuro);
                    margin-bottom: 1.5vh;
                }
            }
        }
    }
}

