<ion-content [fullscreen]="true" id="progviajes-container">
  <!-- header y backbutton -->
  <div class="header-progviajes">
    <app-header
      class="header-comp"
      [contentId]="'progviajes-container'"
      [menuId]="'menuProgviajes'"
    ></app-header>
  </div>

  <div class="main-progviajes">
    <div class="titulo">
      <ion-text class="custom-font ion-text-center t-morado-oscuro">
        <h1>Planifica tu regreso</h1>
      </ion-text>
    </div>

    <ion-card class="card-progviajes">
      <ion-card-content>
        <ion-list>
          <ion-item class="item-progviaje" lines="none">
            <ion-text class="custom-font t-morado-oscuro ion-text-center">
              Completa los datos para ofrecer tu viaje y compartirlo con quienes
              lo necesiten.
            </ion-text>
          </ion-item>
          <ion-item class="item-progviaje direccion-progviaje" lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-searchbar
                    class="custom-font custom-font-weight"
                    (ionInput)="buscador1($event)"
                    [value]="selectedDireccion1?.place_name"
                    placeholder="Direccion inicial"
                  ></ion-searchbar>
                  <div style="z-index: 999">
                    <ion-list lines="none" *ngIf="direcciones1.length > 0">
                      <ion-item
                        class="custom-font"
                        button
                        *ngFor="let address of direcciones1"
                        (click)="onSelect1(address)"
                      >
                        <ion-icon
                          name="location-outline"
                          style="
                            color: var(--morado-oscuro);
                            padding-right: 3.5vw;
                          "
                        ></ion-icon>
                        {{ address.place_name }}
                      </ion-item>
                    </ion-list>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item class="item-progviaje direccion-progviaje" lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-searchbar
                    class="custom-font custom-font-weight"
                    (ionInput)="buscador2($event)"
                    [value]="selectedDireccion2?.place_name"
                    placeholder="Direccion final"
                  ></ion-searchbar>
                  <div style="z-index: 999">
                    <ion-list lines="none" *ngIf="direcciones2.length > 0">
                      <ion-item
                        class="custom-font"
                        button
                        *ngFor="let address of direcciones2"
                        (click)="onSelect2(address)"
                      >
                        <ion-icon
                          name="location-outline"
                          style="
                            color: var(--morado-oscuro);
                            padding-right: 3.5vw;
                          "
                        ></ion-icon>
                        {{ address.place_name }}
                      </ion-item>
                    </ion-list>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item class="item-progviaje" lines="none">
            <ion-input
              [(ngModel)]="viaje.costoPersona"
              type="number"
              fill="solid"
              class="form-input custom-font"
              placeholder="Costo por persona"
            ></ion-input>
          </ion-item>
          <ion-item class="item-progviaje" lines="none">
            <ion-input
              [(ngModel)]="viaje.capacidadMaxima"
              type="number"
              fill="solid"
              class="form-input custom-font"
              placeholder="Capacidad máxima de pasajeros"
            ></ion-input>
          </ion-item>
          <ion-item class="item-progviaje" lines="none">
            <ion-input
              [(ngModel)]="viaje.horaInicio"
              type="time"
              fill="solid"
              class="form-input custom-font"
              placeholder="Hora de inicio"
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button
              (click)="crearViaje()"
              shape="round"
              class="button-global custom-font"
              strong="true"
              style="width: 30vw; height: 5vh"
            >
              Ver ruta
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <app-bottom></app-bottom>
</ion-content>
