<ion-content [fullscreen]="true" id="vcreado-container">
  <app-header
    [contentId]="'vcreado-container'"
    [menuId]="'menuCreado'"
  ></app-header>

  <div class="vcreado-main" *ngIf="cargandoDatos">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-text class="custom-font t-morado-oscuro">
            Dirección inicial: {{viaje.direccionInicio || "Cargando..."}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text class="custom-font t-morado-oscuro">
            Dirección final: {{viaje.direccionFinal || "Cargando..."}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text class="custom-font t-morado-oscuro">
            Hora de inicio: {{viaje.horaInicio || "Cargando..."}}
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Solicitudes</ion-card-title>
      </ion-card-header>
      <ion-list *ngFor="let solicitud of solicitudes">
        <ion-item>
          <ion-text>
            <h1>{{solicitud.pasajero.nombres}} {{solicitud.pasajero.paterno}} {{solicitud.pasajero.materno}}</h1>
          </ion-text>
          <ion-button (click)="aceptarSolicitud(solicitud.idSolicitud, solicitud.pasajero.idUsuario)" expand="block" fill="clear" shape="round">
            Aceptar solicitud
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <app-bottom></app-bottom>
</ion-content>
