<ion-content [fullscreen]="true">
  <div id="container">
    <div class="titulo">
      <ion-toolbar class="toolbar-above toolbar-login">
        <ion-title
          class="custom-font t-morado-oscuro"
          style="font-weight: 900; font-size: 2em"
        >
          TeLlevoAPP
        </ion-title>
      </ion-toolbar>
    </div>
    <!-- auto -->
    <ion-card class="auto-card">
      <div class="auto-container">
        <img class="auto-img" src="/assets/images/auto.png" alt="" />
        <img class="sombra-img" src="/assets/images/sombra.png" alt="" />
        <img class="humo-img" src="/assets/images/humo.png" alt="" />
      </div>
    </ion-card>

    <!-- formulario de ingreso -->
    <ion-card class="form-card">
      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-text class="custom-font t-morado-oscuro ion-text-center"
              >Inicia sesión y organiza tu regreso a casa de manera rápida y
              segura.</ion-text
            >
          </ion-item>
          <ion-item class="inputs-item" lines="none">
            <ion-input
              [(ngModel)]="user.username"
              id="username"
              type="email" 
              class="form-input custom-font"
              label="Usuario"
              labelPlacement="floating"
              fill="outline"
              shape="round"
              placeholder="Ingrese su correo"
            ></ion-input>
          </ion-item>
          <ion-item class="inputs-item" lines="none">
            <ion-input
              [(ngModel)]="user.password"
              id="password"
              type="password"
              class="form-input custom-font"
              label="Contraseña"
              labelPlacement="floating"
              fill="outline"
              shape="round"
              placeholder="Ingrese su contraseña"
            ></ion-input>
          </ion-item>
          <ion-item class="opciones-item" lines="none">
            <div class="opciones t-morado-oscuro custom-font">
              <ion-text class="registrarse" [routerLink]="['/registro']">
                Registrarse
              </ion-text>
              <ion-text class="olvidar" [routerLink]="['/recuperar']">
                ¿Has olvidado tu contraseña?
              </ion-text>
            </div>
          </ion-item>
          <ion-item lines="none">
            <ion-text
              id="error-msg"
              style="opacity: 50%; font-weight: 600;"
              class="ion-text-center custom-font t-morado-oscuro"
            ></ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-button
              (click)="validarLogin()"
              class="button-global custom-font"
              shape="round"
              strong="true"
            >
              Ingresar
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
