<ion-content [fullscreen]="true">
  <div id="container">
    <div class="titulo">
      <ion-toolbar class="toolbar-above toolbar-login">
        <ion-title class="custom-font"> TeLlevoAPP </ion-title>
      </ion-toolbar>
    </div>
    <!-- auto -->
    <div class="auto-container">
      <img class="auto-img" src="/assets/images/auto.png" alt="" />
      <img class="sombra-img" src="/assets/images/sombra.png" alt="" />
      <img class="humo-img" src="/assets/images/humo.png" alt="" />
    </div>

    <!-- formulario de ingreso -->
    <div class="form-ingreso">
      <div class="form-above">
        <ion-input
          [(ngModel)]="user.username"
          id="username"
          type="text"
          class="form-input custom-font"
          label="Usuario"
          labelPlacement="floating"
          fill="outline"
          shape="round"
          placeholder="Ingrese su usuario"
        ></ion-input>
        <ion-input
          [(ngModel)]="user.password"
          id="password"
          type="password"
          class="form-input custom-font"
          label="Contraseña"
          labelPlacement="floating"
          fill="outline"
          shape="round"
          placeholder="Ingrese su contraseña"
        ></ion-input>
      </div>
      <div class="form-below custom-font">
        <ion-text [routerLink]="['/recuperar']">
          ¿Has olvidado tu contraseña?
        </ion-text>

        <ion-text
          id="error-msg"
          style="opacity: 50%"
          class="ion-text-center custom-font"
        ></ion-text>

        <ion-button
          (click)="validarLogin()"
          class="button-global custom-font"
          shape="round"
          strong="true"
        >
          Ingresar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
