<ion-content [fullscreen]="true" id="inicio-container">
  <!-- header -->
  <app-header class="header-comp"[contentId]="'inicio-container'" [menuId]="'menuInicio'"></app-header>

  <!-- main -->
  <div class="main-container">
    <!-- Bienvenida al usuario -->
    <div class="bienvenida">
      <ion-text class="ion-text-center">
        <h5 class="custom-font msg-bienvenida">Bienvenido {{user.nombres}}</h5>
      </ion-text>
    </div>

    <!-- Opciones del usuario -->
    <div class="opciones">
      <ion-list lines="none">
        <ion-item>
          <ion-button (click)="irProgviajes()" class="button-global custom-font btn-opcion" shape="round" strong="true">
            Programar viajes
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button class="button-global custom-font btn-opcion" shape="round" strong="true">
            Ver viajes
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
