#inicio-container {
    --background: var(--morado-gris);
}

#inicio-container .header-comp {
    height: 20%;
} 

#inicio-container .main-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bienvenida {
        height: 20%;

        ion-text h5 {
            color: var(--morado-oscuro);
            font-weight: 600;
            font-size: 1.3em;
        }
    }

    .opciones {
        .card-opciones {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 80vw;
            height: 20vh;
            padding: 1em;
            background: white;
            border: 0.1em solid var(--morado-oscuro);
            box-shadow: 1.5px 3px 5px rgb(0, 0, 0, 0.3),
                        -1.5px 3px 5px rgb(0, 0, 0, 0.3);
    
            ion-button {
                width: 60vw;
                height: 5vh;
                filter: drop-shadow(1px 2px 3px rgb(0, 0, 0, 0.3));
            }
        }

        .card-1 {
            border-top-left-radius: 10%;
            border-bottom-left-radius: 10%;
            position: absolute;
            right: 0;
        }
        
        .card-2 {
            border-top-right-radius: 10%;
            border-bottom-right-radius: 10%;
            position: absolute;
            left: 0;
            margin-top: 25vh;
        }
    }
}

