<ion-content [fullscreen]="true" id="inicio-container">
  <!-- header -->
  <app-header
    class="header-comp"
    [contentId]="'inicio-container'"
    [menuId]="'menuInicio'"
  ></app-header>

  <!-- main -->
  <div class="main-container">
    <!-- Bienvenida al usuario -->
    <div class="bienvenida">
      <ion-text class="ion-text-center">
        <h5 class="custom-font msg-bienvenida">Bienvenido {{user.nombres}}</h5>
      </ion-text>
    </div>

    <!-- Opciones del usuario -->
    <div class="opciones">
      <!-- Si es true se muestra -->
      <div class="card-opciones card-1" *ngIf="opciones">
        <ion-text class="custom-font t-morado-oscuro ion-text-center">
          Ofrece tu viaje y ayuda a otros estudiantes.
        </ion-text>
        <ion-button
          (click)="irProgviajes()"
          class="button-global custom-font btn-opcion"
          shape="round"
          strong="true"
        >
          Programar viaje
        </ion-button>
      </div>

      <!-- Si es true se muestra -->
      <div class="card-opciones card-2" *ngIf="opciones">
        <ion-text class="custom-font t-morado-oscuro ion-text-center">
          Busca un viaje que se ajuste a tu ruta y horario. ¡Es fácil y rápido!
        </ion-text>
        <ion-button
          (click)="irViajesDisponibles()"
          class="button-global custom-font btn-opcion"
          shape="round"
          strong="true"
        >
          Ver viajes
        </ion-button>
      </div>

      <!-- Si es true se muestra -->
      <div class="card-opciones card-2" *ngIf="opcionConductor">
        <ion-text class="custom-font t-morado-oscuro ion-text-center">
          Ve aquí el viaje que generaste!!
        </ion-text>
        <ion-button
          (click)="irViajeCreado()" 
          class="button-global custom-font btn-opcion"
          shape="round"
          strong="true"
        >
          Ver viajes creados
        </ion-button>
      </div>

      <!-- Si es true se muestra -->
      <div class="card-opciones card-2" *ngIf="opcionPasajero">
        <ion-text class="custom-font t-morado-oscuro ion-text-center">
          Ve aquí la información del viaje al que te uniste
        </ion-text>
        <ion-button
          class="button-global custom-font btn-opcion"
          shape="round"
          strong="true"
        >
          Ver viaje
        </ion-button>
      </div>
    </div>
  </div>
  <app-bottom></app-bottom>
</ion-content>
