#registro-container,
#registro-container ion-header, ion-toolbar {
    --background: var(--morado-gris);
}

#registro-container .main-registro {

    .titulo ion-text h1 {
        font-weight: 900;
    }

    .form-registro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
        padding: 1vh 0.25vw 1vh 0.25vw;

        ion-input {
            margin-bottom: 2vh;
            width: 50vw;
            min-height: 5vh;
            --border-radius: 0.5em;
        }
    }
}

