#registro-container,
#registro-container ion-header, ion-toolbar {
    --background: var(--morado-gris);
}

#registro-container .main-registro {

    .titulo ion-text h1 {
        font-weight: 900;
    }

    .form-registro {
        margin-top: 10vh;

        ion-card {
            margin-bottom: 20vh;
            box-shadow: none;
            
            ion-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                ion-item {
                    margin-top: 1vh;

                    ion-input {
                        --background: var(--morado-gris);
                        --highlight-height: 0;
                    }
                }

                :nth-child(9),
                :last-child {
                    margin-top: 0;
                }
            }
        }

        ion-card, ion-card-content, ion-list, ion-item {
            --background: var(--morado-gris);
            background-color: var(--morado-gris);
        }
    }
}

